* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.btn-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 5px;
  background-color: #130913;
  color: #B14623;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #130913;
}

#btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 1px solid #F6921D;
}

.img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
